<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8">
          5 Star Cleaning LLC
      </h1>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          The only cleaning service you need we do resdital. etc... tbd
        </p>
      </div>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl">
        <img
          alt="#_"
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
        />
      </div>
    </div>
    </div>
  </div>
</section>
